<h2 class="h4 mb-3">Tickets</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Status</th>
      <th scope="col">Priority</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.name %></td>
        <td><%= ticket.email %></td>
        <td><%= ticket.title %></td>
        <td><%= ticket.category.name %></td>
        <td><span class="badge badge-<%= status_class_for(ticket.status) %>"><%= ticket.status %></span></td>
        <td>
          <% if ticket.priority.present? %>
            <span class="badge badge-<%= priority_class_for(ticket.priority) %>"><%= ticket.priority %></span>
          <% end %>
        </td>
        <td class="text-right"><%= link_to "Edit", edit_agent_ticket_path(ticket.id), class: "btn btn-sm btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tickets, theme: 'twitter-bootstrap-4' %>
