<%= render partial: "shared/error", locals: { entity: @ticket } %>

<div class="card">
  <h5 class="card-header">New Ticket</h5>
  <div class="card-body">
    <%= form_with scope: :ticket, url: tickets_path, local: true do |form| %>
      <div class="form-group">
        <%= form.label :category_id %><br>
        <%= form.select :category_id, options_from_collection_for_select(Category.all, :id, :name), { include_blank: true }, { class: 'form-control' } %>
      </div>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= form.label :email %><br>
        <%= form.text_field :email, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= form.label :title %><br>
        <%= form.text_field :title, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= form.label :message %><br>
        <%= form.text_area :message, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= form.label :attachments %><br>
        <%= form.file_field :attachments, multiple: true %>
      </div>

      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
