<%= form_with model: @ticket, url: agent_ticket_path, local: true do |form| %>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row" class="w-25">Title</th>
        <td><%= @ticket.title %></td>
      </tr>
      <tr>
        <th scope="row">Message</th>
        <td><%= @ticket.message %></td>
      </tr>
      <tr>
        <th scope="row">Category</th>
        <td><%= form.select :category_id, options_from_collection_for_select(Category.all, :id, :name, @ticket.category.id), { include_blank: true }, { class: 'form-control' } %></td>
      </tr>
      <tr>
        <th scope="row">Status</th>
        <td><%= form.select :status, Ticket.statuses.collect { |s| s.first }, { selected: @ticket.status }, { class: 'form-control' } %></td>
      </tr>
      <tr>
        <th scope="row">Priority</th>
        <td><%= form.select :priority, Ticket.priorities.collect { |p| p.first }, { selected: @ticket.priority }, { class: 'form-control' } %></td>
      </tr>
      <tr>
        <th scope="row">Created at</th>
        <td><%= @ticket.created_at.to_s(:long) %></td>
      </tr>
      <tr>
        <th scope="row">Attachments</th>
        <td>
          <ul class="list-unstyled list-inline mb-0">
            <% @ticket.attachments.each do |file| %>
              <li class="list-inline-item">
                <a href="<%= url_for(file) %>" target="_blank"><%= image_tag(file.variant(resize_to_limit: [100, 100]), class: "img-thumbnail") %></a>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Comments (<%= @ticket.comments.count %>)</th>
        <td>
          <% @ticket.comments.each do |comment| %>
            <div class="card card-body bg-light mb-3 p-3 border-0">
              <small><span class="<%= "text-primary" unless comment.user == current_user %>"><strong><%= comment.user.email %></strong></span>, <%= comment.created_at.to_s(:long) %></small><br>
              <%= comment.message %>
            </div>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <%= form.submit 'Submit', class: 'btn btn-primary mb-3' %>
<% end %>

<div class="card">
  <h5 class="card-header">Leave a comment</h5>
  <div class="card-body">
    <%= form_with(model: [@ticket, @comment], url: agent_ticket_comments_path(@ticket.id), local: true) do |form| %>
      <div class="form-group">
        <%= form.label :message %><br>
        <%= form.text_area :message, class: 'form-control', required: true %>
      </div>
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
